---
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
		<meta name="theme-color" content="#ffffff">
		<link rel="manifest" href="manifest.json">

		<title>Blackhorse Beer Mile - Opening Hours</title>

		<style>
{% include hours/modern-normalize.min.css %}

{% include hours/style.css %}

{% for section in site.data.places -%}
{% assign section_index = forloop.index0 -%}
{% for venue in section.venues -%}
{% assign i = forloop.index0 -%}
@keyframes venue{{ section_index }}-{{ i }} {
	{% for period in venue.keyframe_periods -%}
	{{ period.open  }}% { --open: 1; }
	{{ period.close }}% { --open: 0; }
	{% endfor %}
}
{% endfor %}
{% endfor %}
		</style>
	</head>

	<body>
		<table id="opening-hours">
			<thead>
				<tr id="time-machine-row">
					<th scope="row">time machine</th>
					<td colspan="7">
						<div>
							<input type="datetime-local" id="time-machine">
							<input type="range" id="time-machine-slider" min="0" max="604800">
						</div>
					</td>
				</tr>
				<tr>
					<th scope="col" class="venue">venue / day</th>
					{% assign day_names = "Monday Tuesday Wednesday Thursday Friday Saturday Sunday" | split: " " -%}
					{% for day_name in day_names -%}
					{% assign _day = forloop.index0 | plus: 1 | modulo: 7 -%}
					<th scope="col" class="day" data-day="{{ _day }}">{{ day_name }}</th>
					{% endfor %}
				</tr>
			</thead>
			{% for section in site.data.places -%}
			{% assign section_index = forloop.index0 -%}
			<tbody>
				<tr class="section-header">
					<th colspan="8"><div>{{ section.section }}</div></th>
				</tr>
				{% for venue in section.venues -%}
				{% assign i = forloop.index0 -%}
				<tr class="venue" style="--venue: venue{{ section_index }}-{{ i }}">
					<th class="venue" scope="row" data-loc-lat="{{ venue.location.lat }}" data-loc-lng="{{ venue.location.lng }}">
						<a href="{{ venue.url }}" target="_blank">{{ venue.place_name }}</a>
					</th>
					{% for _day in (0..6) -%}
					{% assign day = _day | plus: 1 | modulo: 7 -%}
					{% assign first_open = venue.day_sort_values[day].open %}
					{% assign last_close = venue.day_sort_values[day].close %}
					<td class="day" data-day="{{ day }}" data-first-open="{{ first_open }}" data-last-close="{{ last_close }}">
						<div>
							<div class="opening-hours">
								{% if venue.current_schedule.time_text_sun_to_sat[day] != venue.regular_schedule.time_text_sun_to_sat[day] -%}
								<s title="regular opening hours">{{ venue.regular_schedule.time_text_sun_to_sat[day] }}</s><br>
								{% endif -%}
								{{ venue.current_schedule.time_text_sun_to_sat[day] }}
							</div>
							{% if venue.happy_hours[day] -%}
							<div class="happy-hours">
								{{ venue.happy_hours[day] }}
							</div>
							<div class="happy-hours-icon">
								<label for="show-happy-hours" title="show/hide happy hours">
									<img src="{{ "/assets/tag-discount-svgrepo-com.svg" | relative_url }}" width="25" height="25">
								</label>
							</div>
							{% endif %}
						</div>
					</td>
					{% endfor %}
				</tr>
				{% endfor %}
			</tbody>
			{% endfor %}
			<tfoot>
				<tr>
					<th scope="col" class="venue">
						⇅
						<button id="sort-name" title="sort by name">by name</button>
						<button id="sort-distance" title="sort by distance">by distance</button>
					</th>
					{% for _day in (0..6) -%}
					{% assign day = _day | plus: 1 | modulo: 7 -%}
					<th scope="col" class="day" data-day="{{ day }}">
						⇅
						<button class="sort-first-open" title="sort by opening time">by first open</button>
						<button class="sort-last-close" title="sort by closing time">by last close</button>
					</th>
					{% endfor %}
				</tr>
			</tfoot>
		</table>

		<footer>
			<p hidden id="warning-time-zone-mismatch">
			Warning: local time zone different than Europe/London - highlighting of open venues might be incorrect.
			</p>
			<p>
			See more at <a href="{{ "/" | relative_url }}" target="_blank">E17.beer</a>
			</p>
			<p>
			Follow <a href="https://instagram.com/e17.beer" target="_blank">our Instagram</a> for updates
			</p>
		</footer>

		<div id="location-indicator" class="hidden">
			<span class="pin">📍</span>
			<span class="pin-text">Finding you...</span>
		</div>

		<div id="toolbar">
			<input type="checkbox" id="show-happy-hours">
			<label for="show-happy-hours" title="show/hide happy hours">
				<img src="{{ "/assets/tag-discount-svgrepo-com.svg" | relative_url }}" width="25" height="25">
			</label>

			<input type="checkbox" id="show-time-machine">
			<label for="show-time-machine" title="show/hide time machine">
				<img src="{{ "/assets/rewind-time-rewind-svgrepo-com.svg" | relative_url }}" width="25" height="25">
			</label>
		</div>

		<script>
{% include hours/script.js %}
		</script>
	</body>

<!-- TODO: vis opening hours within cells -->
<!-- TODO: add vertical line for current time -->

<!-- vim:set ft=liquid: -->
</html>
